<h1>Heroku Store</h1>

<ul>
    {{#each products}}
    <p>
        <div id="product">
            <h4>Product ID: {{this.id}}</h4>
               <h5>Product Name: {{this.product_name}}</h5> 
            <h5>Price (Dollars): {{this.price}}</h5>
            <h5>Stock: {{this.stock_quantity}}</h5>
            <button data-id="{{this.id}}" class="deletebutton">Delete Product!</button>
           <a href="/{{this.id}}"><button data-productid="{{this.id}}" class="updatebutton">Update Product!</button></a>
        </div>
    </p>
    {{/each}}
</ul>

<h2>Add a Product</h2>

<form class="addproduct">
  Name: <input type="text" id="product_name" name="product_name"><br>
  Stock: <input type="number" id="stock_quantity" name="stock_quantity"><br>
  Price (dollars): <input type="number" id="price" name="price">
  <button type="submit">Add Your Product</button>
</form>
    
  
